<div class="row justify-content-center">
  <div class="col-sm-6 border">
    <div class="row">
      <div class="col-sm-6">Please enter info about agent:</div>
    </div>
    <div class="row">
      <div class="col-sm-4 border">
        <label for="idtype">Search agent with:</label>
      </div>
      <div class="col-sm-4">
        <select class="form-control" id="idtype" name="idtype">
          <option>Ag symbol</option>
          <option>Tax number</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 border">
        <label for="idvalue">Value:</label>
      </div>
      <div class="col-sm-4">
        <input type="text" name="idvalue" id="idvalue" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6"><input type="submit" value="Search"></div>
    </div>
  </div>
</div>




