<br>
<div class="row media-body">
  <div class="col-sm-1"><em>{{link.lob}}</em></div>
  <div class="col-sm-11"><strong>{{link.variant}}</strong></div>
</div>
<div class="row media-body text-gray-dark align-items-center">
  <div class="col-sm-1 justify-content-center"><input name="linkCheckBox" id="linkCheckBox" type="checkbox"
                                                      class="form-control" (change)="onLinkCheckbox()"
                                                      ngModel #linkCheckBox="ngModel"></div>
  <div class="col-sm-11">{{finalUrl}}</div>
</div>
