<ng-template [ngIf]="agent == null">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="my-3 p-3 bg-white rounded box-shadow border">
        <h4 class="border-bottom border-gray pb-2 mb-0">Agent's info</h4>
        <div class="media text-muted pt-3">
          <p class="media-body mb-0 small lh-125">
            <strong class="d-block text-gray-dark">Error</strong>
            You need to find agent first.
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="agent != null">
  <form (submit)="ble()" #agentsInfoForm="ngForm">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="my-3 p-3 bg-white rounded box-shadow border">
          <h4 class="border-bottom border-gray pb-2 mb-0">Agent's info</h4>
          <div class="media text-muted pt-3">
            <p class="media-body mb-0 small lh-125">
              <strong class="d-block text-gray-dark">Name:</strong>
              {{agent.name}}
            </p>
          </div>
          <div class="media text-muted pt-1">
            <p class="media-body mb-0 small lh-125">
              <strong class="d-block text-gray-dark">Agent symbol:</strong>
              {{agent.agSymbol}}
            </p>
          </div>
          <div class="media text-muted pt-1">
            <p class="media-body mb-0 small lh-125">
              <strong class="d-block text-gray-dark">Tax number:</strong>
              {{agent.taxNumber}}
            </p>
          </div>
          <div class="media text-muted pt-1">
            <p class="media-body mb-0 small lh-125">
              <strong class="d-block text-gray-dark">Portal code:</strong>
              <input class="form-control" type="text" name="portalCode" id="portalCode"
                     [(ngModel)]="portalCodeValue" required #portalCode="ngModel"
                     [ngClass]="{'error': !portalCode.valid && portalCode.touched}" placeholder="field is required"
                     (input)="onChangePortalCode(portalCodeValue)">
            </p>
          </div>
          <input type="button" class="btn btn-danger mt-2" value="Reset and find new agent" (click)="onReset()">
        </div>
      </div>
    </div>
  </form>
  <app-link-list *ngIf="agent != null && portalCodeValue !== ''"></app-link-list>
  <app-link-export *ngIf="agent != null && selectedLinks != null"></app-link-export>
</ng-template>


