<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="my-3 p-3 bg-white rounded box-shadow border">
      <h4 class="pb-4 mb-0">Choose products to generate links</h4>
      <!-- Form to choose links-->
      <form (submit)="onLinkListSubmit()" #linkListForm="ngForm" *ngIf="dataLoaded; else loadingInfo">
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th></th>
            <th>LOB</th>
            <th>Product name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let link of linkList; let i = index">
            <th scope="row"><input class="form-control" type="checkbox" [(ngModel)]="link.selected" [name]="'checkbox' + i" [id]="'checkbox' + i" (change)="onCheckboxChange()">
            </th>
            <td>{{link.lob}}</td>
            <td>{{link.variant}}</td>
          </tr>
          </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Copy links to clipboard" [disabled]="!showLinkPreview">
      </form>
      <!-- Loading info -->
      <ng-template #loadingInfo>
        <div class="row">
          <div class="col-sm-12 text-center">Loading data from database...</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- Link preview -->
<ng-template [ngIf]="showLinkPreview">
  <div class="row">
    <div class="col-sm-12">
      <div class="my-3 p-3 bg-white rounded box-shadow border">
        <h4 class="pb-2">Link preview</h4>
        <ul class="list-unstyled">
          <li *ngFor="let link of exportLinkList" id="preview" class="mb-2">
            {{link.linkName}}:<br>
            {{link.url}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
