<div class="row justify-content-center">
  <div class="col-sm-4">
    <div class="my-3 p-3 bg-white rounded box-shadow border">
      <form (submit)="onSubmitFindAgent()" #findAgentForm="ngForm">
        <h4 class="border-bottom border-gray pb-2 mb-0">Find agent</h4>
        <div class="media text-muted pt-3 col-sm-11">
          <p class="media-body pb-0 mb-0 small lh-125">
            <strong class="d-block text-gray-dark"><label for="idtype">Search agent with:</label></strong>
            <select class="form-control" id="idtype" name="idtype" [ngModel]="defaultIdType" #idType="ngModel">
              <option value="ag" selected>Ag symbol</option>
              <option value="tax">Tax number</option>
            </select>
          </p>
        </div>
        <div class="media text-muted pt-2">
          <p class="media-body pb-0 mb-0 small lh-125 col-sm-11">
            <strong class="d-block text-gray-dark"><label for="idvalue">Value:</label></strong>
            <input type="text" name="idvalue" id="idvalue" class="form-control" placeholder="Ag symbol or tax number"
                   ngModel required #idValue="ngModel" [ngClass]="{'error': (!idValue.valid && idValue.touched)}"
                   pattern="[a-zA-Z0-9]+">
          </p>
        </div>
        <p class="media-body pb-0 mb-0 small" style="color: red" *ngIf="!idValue.valid && idValue.touched">
          You can type only letters and numbers
        </p>
        <div class="media text-muted pt-4 col-sm-12">
          <p class="media-body pb-0 mb-0 small lh-125 col-sm-11">
            <!--<input type="submit" class="btn btn-primary" value="Search" [disabled]="!findAgentForm.valid"> TODO Fix that-->
            <input type="submit" class="btn btn-primary" value="Search">
            <input type="reset" class="btn btn-secondary" value="Clear">
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
